#metrics {
  margin-top: 100px;
}

#metrics td {
  font-family: monospace;
}

#sensors td {
  font-family: monospace;
}

#console {
  margin-top: 100px;
  width: 80%;
}

#console\.header {
  font-size: 20pt;
}

#console\.output {
  height:120px;
  border:1px solid #000000;
  overflow:auto;
  font-family: monospace;
}

html, body {
  margin: 0;
}
